{% extends "base.html" %}
{% load static %}
{% load connector_template_filters %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'sheets/css/jspreadsheet.css' %}">
<link rel="stylesheet" href="{% static 'sheets/css/jspreadsheet.datatables.css' %}">
<link rel="stylesheet" href="{% static 'sheets/css/jspreadsheet.theme.css' %}">
<link rel="stylesheet" href="{% static 'esfa_eyes/css/components/sheet_loader.css' %}">
<link rel="stylesheet" href="{% static 'esfa_eyes/css/templatesScripts/esfa_eyes_dashboard.css' %}">

{% endblock extra_css %}
{% block body %}

<!-- ======================= body ======================= -->
<div id="container" class="d-flex flex-column h-100 gap-3 gap-md-4 m-2 mx-md-4">
    <div id="top-container" class="d-flex flex-row justify-content-between justify-content-md-start gap-md-5">
        <div class="p-2anann">
            <strong>Year</strong>
            <div class="mt-1">
                <select name="year" id="year" class="form-select">
                </select>
            </div>
        </div>
        <div class="p-2anann">
            <strong>Dollar:</strong>
            <div id="dollar-holder" class="border rounded p-2 text-muted bg-light pe-none">N/a</div>
        </div>
        <div class="p-2anann">
            <strong>Yuan:</strong>
            <div id="yuan-holder" class="border rounded p-2 text-muted bg-light pe-none">N/a</div>
        </div>
    </div>

    <!-- Tab Navigation -->
    <ul class="nav nav-tabs nav-fill mb-4 custom-tabs" id="dashboardTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="general-tab" data-bs-toggle="tab" data-bs-target="#general-tab-pane"
                type="button" role="tab" aria-controls="general-tab-pane" aria-selected="true">
                <i class="fa fa-chart-pie me-2"></i>General
            </button>
        </li>
        {% if request.user.is_detailed_sales_editor or request.user.is_detailed_sales_viewer %}
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="private-sales-tab" data-bs-toggle="tab"
                data-bs-target="#private-sales-tab-pane" type="button" role="tab" aria-controls="private-sales-tab-pane"
                aria-selected="false">
                <i class="fa fa-user-secret me-2"></i>Private Sales
            </button>
        </li>
        {% endif %}
    </ul>

    <!-- Tab Content -->
    <div class="tab-content flex-grow-1" id="dashboardTabContent">
        <!-- General Tab -->
        <div class="tab-pane fade show active h-100" id="general-tab-pane" role="tabpanel" aria-labelledby="general-tab"
            tabindex="0">
            <div id="tables-container" class="h-100 d-flex flex-column" dir="rtl">
                {% if request.user.is_superuser or request.user.is_global_sales_editor or request.user.is_global_sales_viewer %}
                    {% include "esfa_eyes/components/sheet_loader.html" with title="Global Sales" component_id="global-sales" api_endpoint="/global_sales" %}
                {% endif %}


                <div id="dashboard-container" class="row">
                </div>
            </div>
        </div>

        <!-- Private Sales Tab -->
        {% if request.user.is_detailed_sales_editor or request.user.is_detailed_sales_viewer %}
        <div class="tab-pane fade h-100" id="private-sales-tab-pane" role="tabpanel" aria-labelledby="private-sales-tab"
            tabindex="0">
            <div class="d-flex flex-column gap-4" dir="rtl">
                {% if request.user.is_detailed_sales_editor or request.user.is_detailed_sales_viewer %}
                    {% include "esfa_eyes/components/sheet_loader.html" with title="Private Sales" component_id="private-sales" api_endpoint="/detailed_sales" %}
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
</div>


<!-- ======================= scripts ======================= -->
<script src="{% static 'sheets/js/esfa_persian_holidays.min.js' %}"></script>
<script src="{% static 'sheets/js/plotly-basic.min.js' %}"></script>
<script src="{% static 'sheets/js/jspreadsheet.min.js' %}"></script>
<script src="{% static 'esfa_eyes/js/components/sheet_loader.js' %}"></script>
<script src="{% static 'esfa_eyes/js/templatesScripts/esfa_eyes_dashboard.js' %}"></script>
{% endblock body %}