[Unit]
Description=ESFA Submission Checker Service
After=network.target

[Service]
Type=oneshot
User=mrn
Group=mrn
ExecStart=/bin/bash /home/mrn/hours/Hiddify/vpn.sh

[Install]
WantedBy=multi-user.target