<div class="sheet-loader-component" data-component-id="{{ component_id }}" data-api-endpoint="{{ api_endpoint }}"
	data-state="collapsed">
	<div class="sheet-header">
		<span class="sheet-title">{{ title }}</span>
		<div class="sheet-controls">
			<button class="sheet-btn sheet-toggle-btn" type="button" title="Expand">
				<i class="fa fa-chevron-down"></i>
			</button>
			<button class="sheet-btn sheet-fullscreen-btn" type="button" title="Fullscreen">
				<i class="fa fa-expand"></i>
			</button>
			<button class="sheet-btn sheet-close-btn d-none" type="button" title="Exit fullscreen">
				<i class="fa fa-times"></i>
			</button>
		</div>
	</div>
	<div class="sheet-content">
		<div class="sheet-iframe-wrapper">
			<div class="sheet-loader" dir="ltr">
				<i class="fa fa-spinner fa-spin me-2"></i>Loading sheet...
			</div>
			<iframe class="sheet-frame d-none" loading="lazy" referrerpolicy="no-referrer"></iframe>
		</div>
	</div>
</div>